In [6]:
# 본인의 이름, 학번을 작성하여 실행하세요.
print("정인재")
print("20211927")

정인재
20211927

## 이후 강의 PDF 예제 내용을 작성하여 실행하세요.

In [1]:
>>> a = [1, 2, 3]
>>> b = a
>>> a.append(4)
>>> b

[1, 2, 3, 4]

In [2]:
>>> class Gizmo:
...     def __init__(self):
...         print('Gizmo id: %d' % id(self))
...
>>> x = Gizmo()

>>> y = Gizmo() * 10

Gizmo id: 2783380746448
Gizmo id: 2783380747152

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [3]:
>>> dir()
['Gizmo', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'x']

['Gizmo',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'x']

In [5]:
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles
lewis is charles

True

In [6]:
id(charles), id(lewis)

(2783385926656, 2783385926656)

In [7]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [8]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [9]:
alex is charles

False

In [10]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

(True, False)

In [11]:
id(t1[-1])

2783393729856

In [12]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 2783393729856)

In [13]:
t1 == t2

False

In [14]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [15]:
l2[1] += [33, 22]
l2[2] += (10, 11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [16]:
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [17]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)

id(bus1), id(bus2), id(bus3)

(2783392968464, 2783393664976, 2783385941840)

In [18]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [19]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(2783394023232, 2783394023232, 2783393649920)

In [20]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [21]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [22]:
def f(a, b):
    a += b
    return a

a = [1, 2]
b = [3, 4]
f(a, b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [23]:
x = 1
y = 2
f(x, y), (x, y)

(3, (1, 2))

In [24]:
t = (10, 20)
u = (30, 40)
f(t, u), (t, u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [25]:
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""
    def __init__(self, passengers=[]):
        # [] 가 intepret 단계에서 생성되며 모든 인스턴스들이 같은 대상을 참조하게 되어 오류 발생
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [26]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [27]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [28]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [29]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [30]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [31]:
bus2.passengers is bus3.passengers

True

In [32]:
bus1.passengers

['Bill', 'Charlie']

In [33]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers # 사본 생성이 아니라 인수를 별명으로 사용

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [34]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')

basketball_team

['Sue', 'Maya', 'Diana']

In [35]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers) # <-- list()로 사본을 만듦

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [36]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')

basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [37]:
import weakref

s1 = {1, 2, 3}
s2 = s1

def bye():
    print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [38]:
del s1
ender.alive

True

In [39]:
s2 = 'spam'

Gone with the wind...

In [40]:
ender.alive

False